<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header') %>

    <body>
        <div class="contnt">
            <% let count = 0 %>
            <% if(blogs.length>0){ %>
              <% count = 0%>
                 <% blogs.forEach((blog)=>{ %> 
                    <% if(blog.owner == user._id.toString()){ %>
                    <a href="/blogs/<%= blog._id %>">

                        <h1 class="title">
                            <%= blog.title%>
                        </h1>
                        <p class="snippet">
                            <%= blog.snippet%>
                        </p>
                        <% count = count + 1 %>

                        <% } %>

                        <% }) %>
                    </a>
                    <% } if(blogs.length == 0 || count == 0){ %>
                        <h1 class="not">You Haven't Created A Blog Yet!</h1>
                        <% } %>
        </div>
    </body>
    <%- include('./partials/footer') %>

</html>